nav {
  background-color: #7c2c8a;
}

nav a {
  color: gray;
}

nav ul li a {
  color: gray;
  text-decoration: none;
}

body h2 {
  text-align: center;
  color: #7c2c8a;
}

.titre {}

.decallage {
  margin-top: 20px;
}

.produit img {
  padding-bottom: 15px;
}